appname               = chiron-horizon
version               = __CHIRON_HORIZON_VERSION__
display_name          = Chiron Horizon
desc                  = 现代化的开源数据库管理工具，支持多种数据库和数据服务。
platform              = all
source                = thirdparty
maintainer            = t8y2
maintainer_url        = https://distribution-disabled.invalid
distributor           = t8y2
distributor_url       = https://distribution-disabled.invalid
desktop_uidir         = ui
desktop_applaunchname = chiron-horizon.Application
service_port          = 4224
checkport             = true
ctl_stop              = true
changelog             = __CHIRON_HORIZON_CHANGELOG__
